body {
  margin: 0;
  padding: 0;
  background-image: url("wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-attachment: inherit;
  filter: blur(5px);
  z-index: -1;
}
.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 20px
  max-width: 800px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  margin-top: 0;
}
